*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 1px;
  }
  

body {
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-image: url(/styles/imgs/1003880.png);
    background-repeat: no-repeat;
   
  }

  nav{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20 px;
    letter-spacing: 5px ;
    word-spacing: 10px;
}

nav ul li a{
    text-decoration: none;
    color:aqua;
    font-weight: 500;
    border-radius: 5px;
    background: black;

   
}

nav ul li a:hover{
        color:greenyellow;

}

.imgs{
    display: flex;
    float: left;
}



  .Name {
    text-align: center;
    padding: 20px;
    font-size: 29px;
    color: ghostwhite;
  }
  .lorem{
      font-size: 22px;
      border-radius: 5px;
      background-color: beige;
      width: 50%;
     
  }
  .links{
      font-size: 18px;
      display: inline-block;
      list-style: none;
      margin: 10px 20 px;
      letter-spacing: 5px ;
      text-decoration: none;
      color:aqua;
      font-weight: 500;
      border-radius: 5px;
      background:darkturquoise;
  }
  .links a:hover{
      color: greenyellow;
  }
  
    .HAC{
        text-decoration: aqua;
    

    }

