*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


.oppa{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: orangered;
    background-image: url(/styles/imgs/1003880.png);
    background-repeat: no-repeat;
   
}


/*Navigation Element*/
nav{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;

}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20 px;
    letter-spacing: 5px ;
    word-spacing: 10px;
}

nav ul li a{
    text-decoration: none;
    color:aqua;
    font-weight: 500;
    border-radius: 5px;
    background: black;

   
}

nav ul li a:hover{
        color:greenyellow;

}

.detel{
    margin-left: 8%;
    width: 50%;

}

.detel h1{
    font-size: 50px;
    color:
    margin-bottom: 20px;
    wi

}

span{
    color: deepskyblue;
    font-size: 70px;
    border-radius: 5px;
    background-color: black;
}

p{
    font-size: 30px;
    color:beige;
    border-radius: 5px;
    background-color: cadetblue;
    
    
    

}

.doll{

}


.me{
        margin: auto;
        padding: 20px 0;
        width: 400px;
}

.landing{
    
display: flex;
flex-wrap: wrap;
}

